<h2>Services</h2>
<h2>List of services</h2>
<% _.each(services, function(svc) { %>
	<p><%= svc.ServiceDate %></p>

<% }); %>
<form id="addService">
	<p>
		<label for="serviceNameInput">Name:</label>
		<input type="text" id="serviceNameInput" />
	</p>
	<p>
		<label for="dateInput">Date:</label>
		<input type="text" id="dateInput"></input>
	</p>
	<p>
		<label for="rolesInput">Roles:</label><br/>
		<input type="checkbox" checked="checked" id="chazzan"><label for="chazzan">Chazzan</label><br/>
		<input type="checkbox" checked="checked" id="torah"><label for="torah">Read Torah</label><br/>
		<input type="checkbox" checked="checked" id="haftarah"><label for="haftarah">Read Haftarah</label><br/>
		<input type="checkbox" checked="checked" id="besorah"><label for="besorah">Read Besorah</label><br/>
		<input type="checkbox" checked="checked" id="english"><label for="english">Read English</label><br/>
		<input type="checkbox" checked="checked" id="gabbai"><label for="gabbai">Gabbai Rishon</label><br/>
		<input type="checkbox" checked="checked" id="hagbah"><label for="hagbah">Hagbah</label><br/>
		<input type="checkbox" checked="checked" id="gelilah"><label for="gelilah">Gelilah</label><br/>
		<input type="checkbox" checked="checked" id="procession"><label for="procession">Carry Torah for processional</label><br/>
		<input type="checkbox" checked="checked" id="nursery"><label for="nursery">Nursery</label><br/>
		<input type="checkbox" checked="checked" id="counting-1"><label for="counting-1">Counting (1)</label><br/>
		<input type="checkbox" checked="checked" id="counting-2"><label for="counting-2">Counting (2)</label><br/>
	</p>
	<input type="button" value="Create" class="addService"></input>
</form>